<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="TremoloNimbus" />
    <meta property="og:description" content="A SoundCloud clone built with Rails and React" />
    <meta property="og:image" content="<%= image_url('meta_image.png') %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('sclogo.png') %>";
      window.logoInverseURL = "<%= image_url('sclogo_inverse.png') %>";
      window.logoWithNameURL = "<%= image_url('sclogo_w_name.png') %>";
      window.audienceURL = "<%= image_url('audience-868074.png') %>";
      window.githubURL = "<%= image_url('github.png') %>";
      window.linkedInURL = "<%= image_url('linkedin.png') %>";
      window.angelListURL = "<%= image_url('angellist.png') %>";
      window.resumeURL = "<%= image_url('resume.png') %>";
      window.playWhiteURL = "<%= image_url('play-white.png') %>";
      window.pauseWhiteURL = "<%= image_url('pause-white.png') %>";
      window.playBlackURL = "<%= image_url('play-black.png') %>";
      window.pauseBlackURL = "<%= image_url('pause-black.png') %>";
      window.playGreyURL = "<%= image_url('play-grey.png') %>";
      window.loopBlackURL = "<%= image_url('loop-black.png') %>";
      window.loopOrangeURL = "<%= image_url('loop-orange.png') %>";
      window.chatURL = "<%= image_url('chat-left.png') %>";
      window.chatNoCommentsURL = "<%= image_url('chat-no-comments.png') %>";
      window.pencilURL = "<%= image_url('pencil.png') %>";
      window.chevronWhiteURL = "<%= image_url('chevron-down-white.png') %>";
      window.chevronGreyURL = "<%= image_url('chevron-down-grey.png') %>";
      window.threeDotsWhiteURL = "<%= image_url('three-dots-white.png') %>";
      window.threeDotsGreyURL = "<%= image_url('three-dots-grey.png') %>";
      window.searchGreyURL = "<%= image_url('search-grey.png') %>";
      window.trashBlackURL = "<%= image_url('trash-black.png') %>";
      window.volumeUpURL = "<%= image_url('volume-up.png') %>";
      window.volumeMiddleURL = "<%= image_url('volume-middle.png') %>";
      window.volumeLowURL = "<%= image_url('volume-low.png') %>";
      window.volumeMuteURL = "<%= image_url('volume-mute.png') %>";
      window.cameraURL = "<%= image_url('camera.png') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
