<!DOCTYPE html>
<html>
  <head>
    <title>TremoloNimbus – Hear the world's sounds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.logoURL = "<%= image_url('sclogo.png') %>";
      window.logoInverseURL = "<%= image_url('sclogo_inverse.png') %>";
      window.logoWithNameURL = "<%= image_url('sclogo_w_name.png') %>";
      window.audienceURL = "<%= image_url('audience-868074.png') %>";
      window.playWhiteURL = "<%= image_url('play-white.png') %>";
      window.pauseWhiteURL = "<%= image_url('pause-white.png') %>";
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
